Build-a-Web-App-to-use-a-ML-Model

In [1]:
import pandas as pd

In [2]:
ufos = pd.read_csv('ufos (3).csv')

In [3]:
ufos.head(4)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833

Convert the ufos data to a small dataframe with fresh titles.

In [4]:
ufos = pd.DataFrame({'Seconds': ufos['duration (seconds)'], 'Country': ufos['country'],'Latitude': ufos['latitude'],'Longitude': ufos['longitude']})

In [6]:
# checking for unique values in country 
ufos.Country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [8]:
# dropping any null values and only importing sightings between 1-60 seconds:
ufos.dropna(inplace= True)
ufos = ufos[(ufos['Seconds'] >= 1) & (ufos['Seconds'] >= 60)]
ufos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49877 entries, 0 to 80331
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seconds    49877 non-null  float64
 1   Country    49877 non-null  object
 2   Latitude   49877 non-null  float64
 3   Longitude  49877 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.9+ MB

In [9]:
# Import Scikit-learn's LabelEncoder library to convert the text values for countries to a number:
from sklearn.preprocessing import LabelEncoder
ufos['Country'] = LabelEncoder().fit_transform(ufos['Country'])
ufos.head()

   Seconds  Country   Latitude   Longitude
0   2700.0        4  29.883056  -97.941111
4    900.0        4  21.418056 -157.803611
5    300.0        4  36.595000  -82.188889
6    180.0        3  51.434722   -3.180000
7   1200.0        4  41.117500  -73.408333