Build-a-Web-App-to-use-a-ML-Model

In [1]:
import pandas as pd

In [2]:
ufos = pd.read_csv('ufos (3).csv')

In [24]:
ufos.head(10)

    Seconds  Country   Latitude   Longitude
0    2700.0        4  29.883056  -97.941111
4     900.0        4  21.418056 -157.803611
5     300.0        4  36.595000  -82.188889
6     180.0        3  51.434722   -3.180000
7    1200.0        4  41.117500  -73.408333
8     180.0        4  33.586111  -86.286111
9     120.0        4  30.294722  -82.984167
10    300.0        4  33.916389 -118.351667
11    180.0        4  35.233333  -82.734444
12   1800.0        4  40.668611  -73.527500

Convert the ufos data to a small dataframe with fresh titles.

In [4]:
ufos = pd.DataFrame({'Seconds': ufos['duration (seconds)'], 'Country': ufos['country'],'Latitude': ufos['latitude'],'Longitude': ufos['longitude']})

In [6]:
# checking for unique values in country 
ufos.Country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [32]:
# dropping any null values and only importing sightings between 1-60 seconds:
ufos.dropna(inplace= True)
ufos = ufos[(ufos['Seconds'] >= 1) & (ufos['Seconds'] <= 60)]
ufos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5157 entries, 23 to 80323
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seconds    5157 non-null   float64
 1   Country    5157 non-null   int32
 2   Latitude   5157 non-null   float64
 3   Longitude  5157 non-null   float64
dtypes: float64(3), int32(1)
memory usage: 181.3 KB

In [33]:
# Import Scikit-learn's LabelEncoder library to convert the text values for countries to a number:
from sklearn.preprocessing import LabelEncoder
ufos['Country'] = LabelEncoder().fit_transform(ufos['Country'])
ufos.head()

    Seconds  Country   Latitude   Longitude
23     60.0        4  45.582778 -122.352222
36     60.0        4  29.763056  -95.363056
43     60.0        4  40.015000 -105.270000
46     60.0        4  46.716389 -122.953056
53     60.0        4  35.890556  -83.724722

Training a model by dividing it into train and testing group

In [34]:
from sklearn.model_selection import train_test_split
selected_featured = ['Seconds', 'Latitude', 'Longitude']
X = ufos[selected_featured]
y = ufos['Country']
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [35]:
# using logistic regression 
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print('Predicted labels: ', predictions)
print('Accuracy: ', accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       0.75      0.48      0.59        50
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00        34
           4       0.97      0.99      0.98       938

    accuracy                           0.97      1032
   macro avg       0.94      0.89      0.91      1032
weighted avg       0.96      0.97      0.96      1032

Predicted labels:  [4 4 4 ... 4 3 4]
Accuracy:  0.9670542635658915

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Picking my model

In [36]:
import pickle
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pkl','rb'))
print(model.predict([[50,44,-12]]))

[3]

C:\Users\USER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [37]:
# The model returns '3', which is the country code for the UK.

In [38]:
# done